section {
    margin: 10% 17%;
    background: #FFFFFF;
    padding:20px
  }
  
  div {
    display: block;
}

  .title {
    border-bottom: rgba(182, 174, 174, 0.233) solid 2px
  }
  
  body {
    background: rgb(85, 106, 200)
  }
  
  .image {
    width: 100px;
    height: 100px;
}
.part {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: rgba(182, 174, 174, 0.233) solid 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
}

